@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
}

nav,
ul {
    display: flex;
}

nav {
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav h1 {
    font-size: 24px;
    color: #F9FAF8;
}

nav,
.hero,
footer {
    background-color: #1F2937;
}

.hero aside,
nav a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #3882F6 solid 1px;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.hero div {
    background-color: grey;
    color: #F9FAF8;
    display: inline-block;
}

.rand h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.rand .img {
    width: 100px;
    height: 100px;
    border: #3882F6 solid 2px;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}