* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: monospace;
}

nav,
ul {
    display: flex;
}

nav {
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav h1 {
    font-size: 24px;
    color: #F9FAF8;
}

nav,
.hero,
footer {
    background-color: #1F2937;
}

.hero aside,
nav a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #3882F6 solid 1px;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.hero div {
    background-color: grey;
    color: #F9FAF8;
    display: inline-block;
}

.rand h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.rand .img {
    width: 100px;
    height: 100px;
    border: #3882F6 solid 2px;
    border-radius: 10px;
}